.form-box {
    max-width: 450px;
    margin: 0 auto;
    padding: 25px;
}

.input-group {
    margin-bottom: 15px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.input-group input:focus {
    border-color: #3498db;
    outline: none;
}

/* Button */
.btn-submit {
    width: 100%;
    padding: 10px;
    background: #e91e63;
    color: white;
    border: none;
    border-radius: 6px;
    margin-bottom: 10px;
}

.btn-submit:hover {
    background: #c2185b;
}

.btn-cancel {
    display: block;
    text-align: center;
    background: #6c757d;
    color: white;
    padding: 10px;
    border-radius: 6px;
    text-decoration: none;
}

.btn-cancel:hover {
    background: #5a6268;
}