.user-page {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.form-box {
    background: white;
    padding: 30px;
    width: 370px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.form-box h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-box input,
.form-box select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.form-box input:focus {
    border-color: #007bff;
}

.form-box button {
    width: 100%;
    padding: 10px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 6px;
}

.form-box button:hover {
    background: #0056b3;
}
.btn-group {
    display: flex;
    gap: 12px;          /* tạo khoảng cách giữa 2 nút */
    margin-top: 15px;
}

.btn-group .btn {
    flex: 1;            /* 2 nút rộng đều nhau */
    text-align: center;
}
.btn-cancel {
    display: block;
    text-align: center;
    margin-top: 10px;
    background: gray;
    padding: 10px;
    border-radius: 6px;
    color: white;
    text-decoration: none;
}